{% extends "_shell.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block pageTitle %}Application complete - Register a rubber duck - GOV.UK{% endblock %}
{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
{{ govukPanel({ titleText: "Application complete", html: "Your reference number<br><strong>DUCK-836228</strong>" }) }}
<p class="govuk-body">We have sent you a confirmation email.</p>
<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">We’ve sent your duck’s details to the Department for Buoyancy.</p>
<p class="govuk-body">They will contact you within 5 working days to arrange a flotation test.</p>
<p class="govuk-body"><a class="govuk-link" href="index.html">Register another duck</a></p>
</div>
</div>
{% endblock %}
